<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    </head>
    <body>
        <form id="registroN">
            <label>Nombre:</label>
            <input name="nombre" type="text" class="form-control" placeholder="Nombre">
            <label>Apellido1:</label>
            <input name="apellido1" type="text" class="form-control" placeholder="Nombre">
            <label>Apellido2:</label>
            <input name="apellido2" type="text" class="form-control" placeholder="Nombre">
            <label>Saldo:</label>
            <input type="number" name="saldo" class="form-control" placeholder="Nombre">
            <label>Telefono:</label>
            <input name="nombre" type="text" class="form-control" placeholder="Nombre">
            <label>Telefono:</label> 
            <input name="nombre" type="text" class="form-control" placeholder="Nombre">
        </form>
    </body>
</html>
